body{
    background-color: aquamarine;
    /*font-family:Impact, Charcoal, sans-serif; */
    font-family: 'Pixelify Sans';
}
#header{
    text-align: center;
    font-size: 300%;
}

#menuContainer{
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    padding-bottom: 1%;
    background-color: rgba(255, 255, 255, 0.4);
    border-style: solid;
    border-color: antiquewhite;
    border-radius: 25px;
    
}
button{
    font-family: 'Pixelify Sans';
    font-size: 200%;
    background-color: black;
    color: white;
    text-align: center;
    width: 70%;
    border-radius: 15%;
    
}

#homeWizard{
    display: flex;
    justify-content: center;
}