:root {
  font-family:  'Press Start 2P';
  line-height: 1.5;
  font-weight: 400;
  height: 100%;
  margin: 0;


  color-scheme: light dark;
  color: white;
  background-color: #242424;

  background-image: url(assets/content.png);
  background-size: cover;
  background-position: center;
  
}



#header {
  text-align: center;
  color:White;
  font-size: 250%;
}

#homeWizard {
  display: flex;
  justify-content: center;
  
}

#menuContainer {
  text-align: center;
  width: 75%;
  margin: 0 auto;
  padding-bottom: 1%;
  background-color: rgba(255, 255, 255, 0.4);
  border-style: solid;
  border-color: antiquewhite;
  border-radius: 25px;
}



button[name="menu"] {
  font-size: 75%;
  background-color: black;
  color: white;
  text-align: center;
  width: 70%;
  border-radius: 15%;
  margin: 1% 0;
}


img[name="menu"]{
  height: 90px;
} 

div[name = "menu"]{
   background-color:  rgba(0, 0, 0, 0.5);
  
  padding: 2vh 2vw;
  max-height: 100%;
}













div[name ="main"]{
  background-color:  rgba(0, 0, 0, 0.5);
  justify-content: center;
  text-align: center;
  width: 75%;
  height: 100vh;

  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  
}

h2[name= "sessions"]{
  margin-top: -1%;
  text-align: center;
  color:White;
  font-size: 200%;

 
}

table{
  margin: 0 auto;
  border-color: white;

}

th{
  text-align: center;
  font-size: 80%;

  
}

td{
  width: 7%;
  
  margin: 0 auto;
  font-size: 60%;
}

label[name= "sessions"]{

  font-size: 90%;
}




input[name = "username"]{

  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 80%;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  
  
}


button[name= sessions] {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
}






div[name ="main_room"]{
  background-color:  rgba(0, 0, 0, 0.5);
  justify-content: center;
  text-align: center;

}





div[name ="main_guide"]{
  background-color:  rgba(0, 0, 0, 0.5);
  height: 80vh;
  max-width: 90vw;
  padding: 2vj;
  justify-content: center;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;

}





h1[name = "guide"] {
  text-align: center;
  color:White;
  font-size: 250%;
}

p[name = "guide"] {
  font-size: 100%;

}

h2[name = "guide"]{
   font-size: 160%;
}

h3[name = "guide"]{
   font-weight: 100;
   font-size: 100%;
   margin-bottom: 20 px;
}
li[name = "guide"]{
 font-size: 100%;
   margin-bottom: 20 px;
}



img[name="guide"]{
  width: 25em;
  height: auto;
  
}





body {
  display: block;
  overflow: hidden;
}





button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
}


thead, tbody {
  text-align: center;
  text-size-adjust: 75p;
}



input {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 80%;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  
}

canvas[name= "game"]{


  display: block;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}


div[name = "game"]{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}




.gamecanvas canvas {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;

}



.death-overlay{
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}